<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BloodTestOCR</title>
    <!-- Jquey load frist-->
    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!-- bootstrap.js below is needed if you wish to zoom and view file content 
     in a larger detailed modal dialog -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <link href="http://cdn.bootcss.com/bootstrap-fileinput/4.3.5/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css"
    />
    <!-- the main fileinput plugin file -->
    <script src="http://cdn.bootcss.com/bootstrap-fileinput/4.3.5/js/fileinput.js"></script>
    <!-- optionally if you need a theme like font awesome theme you can include 
    it as mentioned below -->
    <script src="http://cdn.bootcss.com/bootstrap-fileinput/4.3.5/themes/fa/theme.min.js"></script>
    <!-- optionally if you need translation for your language then include 
    locale file as mentioned below -->
    <script src="http://cdn.bootcss.com/bootstrap-fileinput/4.3.1/js/fileinput_locale_LANG.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap-fileinput/4.3.1/js/fileinput_locale_zh.min.js"></script>
    <!-- Vue.js mvvm -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

</head>

<body>
    <div class="container">
        <div class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">BloodTestOCR Demo</a>
            </div>
        </div>
    </div>

    <div class="container">
        <input id="report-upload" name="imagefile" type="file" multiple class="file-loading" />
    </div>

    <div class="container">
        <hr class="soften" />
    </div>



    <div id="report" class="container">
        
        <button type="button" v-on:click="showReport()" class="btn btn-primary btn-lg btn-block">生成报告</button>
    
        <div id="report-table" style="display:none;">
            <table  class="table table-inverse table-hover table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>项目名称</th>
                        <th>英文缩写</th>
                        <th>检测结果</th>
                        <th>参考范围</th>
                        <th>单位</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in report_items">
                        <th scope="row">*</th>
                        <td>{{ item.name }}</td>
                        <td>{{ item.alias }}</td>
                        <td>
                            <input type="text" v-model="item.value" class="form-control" placeholder="检测值" />
                        </td>
                        <td>{{ item.range }}</td>
                        <td>{{ item.unit }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
    

    $("#report-upload").fileinput({
        uploadUrl: "upload", // server upload action
        uploadAsync: true,
        maxFileCount: 1,
        autoReplace: true,
        initialPreviewShowDelete: false,
        showUploadedThumbs: false,
        browseLabel: "浏览",
        removeLabel: "删除",
        uploadLabel: "上传",
        dropZoneTitle: "选择你血常规检验报告单上传或拖拽到此...",
        allowedFileExtensions: ['jpg', 'gif', 'png'],
        fileActionSettings: {showUpload: false, showRemove: true}
    });
    $("#report-upload").on('fileuploaded', function(event, data, previewId, index){
        var form = data.form, files = data.files, extra = data.extra,
        response = data.response, reader = data.reader;
        console.log(previewId);
        console.log(index);
        console.log(form);
        //console.log(files);
        console.log(extra.toString());
        console.log(response);
        //console.log(reader);
        console.log('File uploaded triggered');
    });
    $('#report-upload').on('fileuploaderror', function(event, data, msg) {
        var form = data.form, files = data.files, extra = data.extra,
            response = data.response, reader = data.reader;
        console.log('File upload error');
        console.log(form);
        console.log(files);
        console.log(extra.toString());
        //console.log(response);
       // console.log(reader);
        // get message
        alert(msg);
    });
    $('#report-upload').on('fileclear', function(event) {
        console.log("fileclear");
        $("#filtered-report").remove();
    });
    $('#report-upload').on('fileerror', function(event, data, msg) {
        console.log(data.id);
        console.log(data.index);
        console.log(data.files);
        // get message
        alert(msg);
    });

    
    var report = new Vue({
        el: '#report',
        data: {
            report_items: new Array()
        },
        methods: {
            showReport: function (event) {
                
                url = $("#filtered-report").attr("src");
                if (url == null) {
                    alert("请上传报告");
                    return;
                }
                    
                url = 'report/' + url.split('/')[2];
                console.log(url);
                /*
                $.get(url,function(data) {
                    console.log(data);
                    console.log(data['bloodtest']);
                    for (var i = 0; i < data['bloodtest'].length; i++) {
                        this.report_items.push({
                            name: data.bloodtest[i].name,
                            alias: data.bloodtest[i].alias,
                            value: data.bloodtest[i].value,
                            range: data.bloodtest[i].range,
                            unit: data.boodtest[i].unit
                        }); 
                    }
                });
                */
                $.ajax({
                    url: url,
                    success: function( data ) {
			
                        // data是string，必须转化为json对象
                        var data = JSON.parse(data);
                        console.log("response" + data);
                        console.log(data.date);
                        console.log(data.bloodtest);
                        for (var i = 0; i < data["bloodtest"].length; i++) {
                            report.report_items.push({
                                name: data.bloodtest[i].name,
                                alias: data.bloodtest[i].alias,
                                value: data.bloodtest[i].value,
                                range: data.bloodtest[i].range,
                                unit: data.bloodtest[i].unit
                            }); 
                        }
                    }
                });
               
                $("#report-table").show();
            }
        }
    });
    
    </script>
</body>

</html>
